*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:tahoma, sans-serif;
}


body{

    background:#111827;

    color:white;

    padding:25px;

}



.container{

    max-width:1000px;

    margin:auto;

}



h1{

    text-align:center;

    color:#38bdf8;

    font-size:32px;

    margin-bottom:30px;

}



/* کارت های معمولی */

.card{

    background:#1f2937;

    padding:20px;

    border-radius:18px;

    margin-bottom:20px;

    box-shadow:0 8px 25px rgba(0,0,0,.35);

}



.card h2{

    color:#60a5fa;

    margin-bottom:15px;

}





/* کارت آمار */

.stats-card{

    background:linear-gradient(135deg,#2563eb,#1e40af);

    border-radius:20px;

    padding:25px;

    display:flex;

    align-items:center;

    gap:20px;

    margin-bottom:25px;

    box-shadow:0 10px 30px rgba(0,0,0,.35);

}



.stats-icon{

    font-size:45px;

    background:rgba(255,255,255,.15);

    width:80px;

    height:80px;

    display:flex;

    align-items:center;

    justify-content:center;

    border-radius:50%;

}



.stats-info{

    display:flex;

    flex-direction:column;

}



.stats-info span{

    font-size:18px;

    color:#dbeafe;

}



.stats-info strong{

    font-size:42px;

    margin-top:5px;

}





/* بخش اضافه کردن */

.add-box{

    display:flex;

    gap:10px;

    flex-wrap:wrap;

}



input{

    flex:1;

    min-width:200px;

    padding:13px;

    border-radius:10px;

    border:none;

    outline:none;

    background:#374151;

    color:white;

    font-size:16px;

}



input::placeholder{

    color:#9ca3af;

}




/* دکمه ها */

button{

    border:none;

    cursor:pointer;

    border-radius:10px;

    padding:12px 18px;

    color:white;

    font-size:15px;

    transition:.2s;

}



button:hover{

    transform:scale(1.05);

}



.add{

    background:#2563eb;

}



.rent{

    background:#f59e0b;

}



.return{

    background:#22c55e;

}



.delete{

    background:#ef4444;

}





/* آیتم دوربین ها */

.item{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:#374151;

    padding:15px;

    margin-top:12px;

    border-radius:12px;

}



.item span{

    font-size:18px;

    font-weight:bold;

}



.actions{

    display:flex;

    gap:8px;

}





.empty{

    text-align:center;

    color:#9ca3af;

    padding:15px;

}




/* موبایل */

@media(max-width:700px){


    body{

        padding:15px;

    }


    h1{

        font-size:25px;

    }


    .stats-card{

        padding:20px;

    }


    .item{

        flex-direction:column;

        gap:15px;

    }


    .actions{

        width:100%;

    }


    .actions button{

        width:100%;

    }


    .add-box{

        flex-direction:column;

    }


    .add-box button{

        width:100%;

    }

}
